/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}

/* DESKTOP NAV */

nav,
.nav-links {
  display: flex;
  position: sticky;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
  position: sticky;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
  position: sticky;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  background-color: aqua;
  padding: 10px;
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

.logo {
  font-size: 2rem;
  font-weight: bold
}

.logo:hover {
  cursor: default;
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* SECTIONS */

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* PROFILE SECTION */

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1023%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(36%2c 75%2c 115%2c 1)'%3e%3c/rect%3e%3cpath d='M555.0922545742901 243.01265011718223L646.9593898730419 216.67017296738507 561.5121064989703 92.04070859415592z' fill='rgba(9%2c 93%2c 127%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M93.67856295912742-46.09803917965533L-1.251221550320949-49.41306030241104 90.36354183637171 48.83174532979304z' fill='rgba(9%2c 93%2c 127%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M929.317%2c301.901C967.327%2c301.972%2c995.878%2c269.44%2c1012.091%2c235.061C1025.97%2c205.632%2c1020.333%2c172.29%2c1003.606%2c144.381C987.418%2c117.373%2c960.775%2c98.33%2c929.317%2c96.956C895.257%2c95.468%2c860.339%2c108.085%2c842.867%2c137.359C825.018%2c167.265%2c830.876%2c203.922%2c847.075%2c234.754C864.718%2c268.333%2c891.385%2c301.83%2c929.317%2c301.901' fill='rgba(9%2c 93%2c 127%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M725.8962248574562 171.25947340436016L701.4033966367125 85.84283049682442 615.9867537291767 110.33565871756815 640.4795819499204 195.75230162510388z' fill='rgba(9%2c 93%2c 127%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1186.242%2c177.491C1205.102%2c175.887%2c1219.88%2c163.841%2c1230.267%2c148.017C1242.139%2c129.931%2c1253.986%2c108.427%2c1244.261%2c89.102C1233.875%2c68.463%2c1209.286%2c58.851%2c1186.242%2c60.532C1165.688%2c62.031%2c1152.037%2c79.064%2c1141.237%2c96.616C1129.659%2c115.433%2c1116.266%2c137.491%2c1127.009%2c156.797C1137.909%2c176.385%2c1163.907%2c179.39%2c1186.242%2c177.491' fill='rgba(9%2c 93%2c 127%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1176.9554903463095 304.1827402049202L1163.292571296731 414.5883258661207 1253.4593995588846 378.158562547836z' fill='rgba(9%2c 93%2c 127%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M220.387%2c535.621C263.841%2c537.403%2c310.067%2c523.414%2c331.306%2c485.462C352.188%2c448.147%2c336.205%2c403.932%2c314.796%2c366.916C293.424%2c329.965%2c263.053%2c294.998%2c220.387%2c293.688C175.884%2c292.322%2c136.068%2c321.371%2c115.374%2c360.794C96.028%2c397.649%2c102.749%2c441.285%2c124.182%2c476.967C144.91%2c511.475%2c180.166%2c533.971%2c220.387%2c535.621' fill='rgba(9%2c 93%2c 127%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M823.3281701867378 377.87172409256215L935.8240822363971 468.9691174700861 1026.921475613921 356.4732054204268 914.4255635642617 265.37581204290285z' fill='rgba(9%2c 93%2c 127%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M27.43 516.92 a184.65 184.65 0 1 0 369.3 0 a184.65 184.65 0 1 0 -369.3 0z' fill='rgba(9%2c 93%2c 127%2c 1)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1023'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}

.section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
  margin-top: 100px;
}

.title {
  font-size: 3rem;
  text-align: center;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}
/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}

/* ABOUT SECTION */

#about {
  position: relative;
  
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}

.about-pic {
  border-radius: 2rem;
}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
  
}

.section-container {
  gap: 4rem;
  height: 80%;
}

.section__pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}

/* EXPERIENCE SECTION */

#experience {
  position: relative;
}

.experience-sub-title {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}

article .icon {
  cursor: default;
}

/* PROJECTS SECTION */

#projects {
  position: relative;
}

.color-container {
  border-color: rgb(163, 163, 163);
  background: rgb(250, 250, 250);
}

.project-img {
  border-radius:none;
  object-fit: cover;
}

.project-title {
  margin: 1rem;
  color: black;
}

.project-btn {
  color: black;
  border-color: rgb(163, 163, 163);
}

/* CONTACT */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: (250, 250, 250);
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
}

/* FOOTER SECTION */

footer {
  height: 26vh;
  margin: 0 1rem;
}

footer p {
  text-align: center;
}

